{{#checkBool data.[0].bottle1 }}
{{/checkBool}}
{{#checkBool data.[0].bottle2 }}
{{/checkBool}}
{{#checkBool data.[0].bottle3 }}
{{/checkBool}}
{{#checkBool data.[0].door_open }}
{{/checkBool}}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
               <h1 class="title is-2">Dashboard des WeinschrankService</h1>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-5">Weinfächer</h2>

        <div class="columns has-text-centered">
            <div class="column">
                <div class="dashboard-item">
                    <p class="dashboard-item-head">Fach 1</p>
                    {{#if data.[0].bottle1}}
                    <p class="dashboard-item-kennzahl"><i class="lni lni-emoji-smile"></i></p>
                    {{else }}
                    <p class="dashboard-item-kennzahl"><i class="lni lni-emoji-sad"></i></p>
                    {{/if }}
                </div>
            </div>
            <div class="column">
                <div class="dashboard-item">
                    <p class="dashboard-item-head">Fach 2</p>
                    {{#if data.[0].bottle2}}
                    <p class="dashboard-item-kennzahl"><i class="lni lni-emoji-smile"></i></p>
                    {{else }}
                    <p class="dashboard-item-kennzahl"><i class="lni lni-emoji-sad"></i></p>
                    {{/if }}

                </div>
            </div>
            <div class="column">
                <div class="dashboard-item">
                    <p class="dashboard-item-head">Fach3</p>
                    {{#if data.[0].bottle3}}
                    <p class="dashboard-item-kennzahl"><i class="lni lni-emoji-smile"></i></p>
                    {{else }}
                    <p class="dashboard-item-kennzahl"><i class="lni lni-emoji-sad"></i></p>
                    {{/if }}
                </div>
            </div>



            
        </div>
        <h2 class="title is-5">Zusätzliche Daten</h2>

        <div class="columns has-text-centered">
            <div class="column">
                <div class="dashboard-item">
                    <p class="dashboard-item-head">Temperatur</p>
                    <p class="dashboard-item-kennzahl">{{ data.[0].temperature }} &#8451;</p>
                </div>
            </div>
            <div class="column">
                <div class="dashboard-item">
                    <p class="dashboard-item-head">Luftfeuchtigkeit</p>
                    <p class="dashboard-item-kennzahl">{{ data.[0].humidity }} %</p>

                </div>
            </div>
            <div class="column">
                <div class="dashboard-item">
                    <p class="dashboard-item-head">Ob die Tür offen ist</p>
                {{#if data.[0].door_open}}
                     <p class="dashboard-item-kennzahl"><i class="lni lni-unlock"></i></p>
                {{else }}
                   <p class="dashboard-item-kennzahl"><i class="lni lni-lock"></i></p>
                {{/if }}
                </div>
            </div>
        </div>


                <div class="columns has-text-centered">
            <div class="column is-4">
                <div class="dashboard-item">
                    <p class="dashboard-item-head">Luftdruck</p>
                    <p class="dashboard-item-kennzahl">{{ data.[0].pressure }} Bar</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
